/*THEME=LIGHT*/
:root {
    --CubesPrimary: #505050;
    --CubesSecondary: #5e1a03;

    --ConesPrimary: #505050;
    --ConesSecondary: #5e1a03;

    --ArrowColor: #fff;

    --ButtonsMain: #5e1a03;

    --Background: #ffffff;
    --Text: #000000;

    --TickSelected: #5e1a03;
    --TickDeselected: #505050;
}